body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    width:  150vw;
    background-color: #f5f5f5;
}

:root{
  --dark-blue: rgb(54, 64, 101);
}


.Todo{
 display: flex;

}

.projectsContainer{
  width: 380px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 40px 0;
 

}

.projectsHeading{
  color: #fff;
  font-size: 35px;
}


.btnAddProject{
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(149, 218, 46);
  color: #fff;
  font-size: 25px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.3);
  z-index: 99;
}






/* Form for new projects */

.formNewProject {
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formProjectHeading{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.projectName{
  font-size: 25px;
  margin-bottom: 10px;

}

.projectInput{
  width: 540px;
  height: 30px;
}

::placeholder{
  font-size: 18px;
  
}

.formProjectBtns{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.cancelBtn, 
.createProjectBtn{
  font-size: 18px;
  padding: 8px 16px;
  border: 0 solid;
  border-radius: 10px;
  color: #fff;
}

.cancelBtn{
  background-color: rgb(112, 112, 112);
}

.createProjectBtn{
  background-color: var(--dark-blue);;
}

.hidden {
  display: none;
}


.newProjectsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newProject{
  margin-top: 20px;
  padding: 5px 15px;
  color: #fff;
  background-color: rgb(97, 109, 155);
  display: flex;
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.removeBtn{
  font-size: 18px;
  height: 46px;
  padding: 0px 16px;
  border: 0 solid;
  border-radius: 10px;
  color: var(--dark-blue);
  align-self: center;
}




/* Main conatiner */

.mainContainer{
  border: 2px solid rgb(63, 69, 152);
  display: flex;
  max-width: 70vw;
  min-width: 40vw;
}